/ExpressServer_c0.0.1/bin/Microsoft.NodejsTools.WebRole.dll
/ExpressServer_c0.0.1/obj/Debug/ExpressServer_c0.0.1.njsproj.AssemblyReference.cache
/ExpressServer_c0.0.1/obj/Debug/ExpressServer_c0.0.1.njsproj.CoreCompileInputs.cache
/ExpressServer_c0.0.1/obj/Debug/ExpressServer_c0.0.1.njsproj.FileListAbsolute.txt
/React/.vs/Server_c0.0.1/config/applicationhost.config
