@media only screen and (max-width: 600px) {
    /* For the container */
    #account-settings-container {
        width: 100%;
        margin: auto; 
        margin-left: -12px;
    }

    /* For the left side group buttons */
    #left-side-group-buttons2 {
        display: none;
    }

    #edit-account-features h1 {
        margin: 10px 0px 20px 20px;
    }

    #edit-account-features label {
        margin: 0px 0px 5px 20px;
    }

    #edit-account-features input {
        outline: none;
        margin: 0px 0px 15px 20px;
        border: 1px solid rgb(235, 235, 235);
        width: 92vw;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #edit-account-features input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    #edit-account-features h2 {
        margin: 15px 0px 20px 20px;
    }
    
    #edit-account-features p {
        margin: -15px 0px 20px 20px;
    }

    #edit-account-bottom-buttons {
        display: flex;
        width: 92vw;
        margin: 0px 0px 20px 20px;
     
    }

    #edit-account-save-button {
        height: 45px;
        width: 50vw;
        margin: 10px 10px 0px 0px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #edit-account-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #edit-account-cancel-button {
        height: 45px;
        width: 50vw;
        margin: 10px 0px 0px 0px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #edit-account-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 600px) {
    /* For the container */
    #account-settings-container {
        width: 100%;
        margin: auto; 
        margin-left: -12px;
    }
}

@media only screen and (min-width: 768px) {
    /* For the container */
    #account-settings-container {
        width: 100%;
        margin: auto; 
        margin-left: -12px;
    }
}

@media only screen and (min-width: 956px) {
    /* For the container */
    #account-settings-container {
        width: 70%;
        margin: auto;
    }
}


@media only screen and (min-width: 1200px) {
    /* For the container */
    #account-settings-container {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width: 1400px) {
    /* For the container */
    #account-settings-container {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width: 1600px) {
    /* For the container */
    #account-settings-container {
        width: 64%;
        margin: auto;
    }
}

@media only screen and (min-width: 1712px) {
    /* For the container */
    #account-settings-container {
        width: 65%;
        margin: auto;
    }
}

