@media only screen and (max-width: 600px) {
    /* For the container of collection details page */
    #collection-details-page {
        width: 95%;
        margin: auto;
        margin-top: 10px;
    }

    /* For the collection name */
    #collection-name-in-collection-details-page {
        font-weight: bold;
        font-size: 20px;
    }

    /* For the collection discription */
    #collection-discription-in-collection-details-page {
        font-size: 15px;
        margin-top: -15px;
        color: gray;
    }

    /* For the top section */
    #top-section-of-collection-details-page {
        width: 100%;
        background-color: rgb(240, 240, 240);
        display: flex;
        justify-content: space-between;
    }

    /* For related information of collection */
    #related-information-of-collection-in-collection-details-page {
        display: flex;
        margin-top: 20px;   
        margin-left: 10px;
    }

    #related-information-of-collection-in-collection-details-page a {
        display: block;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgb(185, 185, 185);
        text-decoration: none;
        color: black;
    }

    #related-information-of-collection-in-collection-details-page a + div {
       display: flex;
       flex-direction: column;
       margin-left: 10px;
       margin-top: -6px;
    }

    #related-information-of-collection-in-collection-details-page a + div p {
        color: gray;
    }
    
    #related-information-of-collection-in-collection-details-page a + div p span{
        color: black;
    }

    #related-information-of-collection-in-collection-details-page a + div p + p {
        margin-top: -15px;
    }

    /* For the share button and option button */
    #share-button-and-option-button-in-top-section-of-collection-details-page {
        margin: 20px 0px 0px 0px;
        height: 30px;
        display: flex;
    }

    #share-button-and-option-button-in-top-section-of-collection-details-page i {
        font-size: 25px;
        margin-right: 20px;
        color: rgb(150, 150, 150);
    }

    #share-button-and-option-button-in-top-section-of-collection-details-page p {
        display: none;
    }

    #option-button-in-top-section-of-collection-details-page {
        margin-top: -7px;
        box-shadow: none;
    }

    #option-button-in-top-section-of-collection-details-page:after {
        display: none;
    }

    .drop-down-option-of-option-button-in-collection-details-page:focus {
        background-color: orange;  
        color: #fff;
    }

    /* For the recipes */
    #recipes-in-collection-details-page {
        margin-top: 20px;
    }

    .recipe-in-collection-details-page {
        display: flex;
        justify-content: space-between;
    }

    .related-information-of-recipe-in-collection-details-page {
        display: flex;
    }

    .recipe-in-collection-details-page a {
       text-decoration: none;
       color: black;
    }

    .recipe-photo-in-collection-details-page {
        display: block;
        width: 130px;
        height: 130px;
        background-color: gray;
    }

    .recipe-name-and-recipe-ratings-in-collection-details-page {
        margin: -7px 0px 0px 10px;
    }

    .recipe-name-in-collection-details-page {
        font-size: 17px;
        font-weight: bold;
    }

    .recipe-name-in-collection-details-page:hover {
        color: orange;
    }

    .recipe-ratings-in-collection-details-page {
        display: flex;
        margin: -10px 0px 0px -5px;
    }

    .recipe-ratings-in-collection-details-page i {
        margin-left: 5px;
    }

    .recipe-ratings-in-collection-details-page p {
        margin-left: 5px;
    }

    .recipe-favorites-in-collection-details-page {
        display: flex;
        margin-top: -10px;
    }

    .recipe-favorites-in-collection-details-page i {
        color: orangered;
    }

    .recipe-favorites-in-collection-details-page p {
        margin-left: 5px;
    }

    .recipe-author-in-collection-details-page {
        margin-top: -10px;
    }

    .recipe-author-in-collection-details-page a {
        text-decoration: underline;
        text-decoration-color: orangered;
        color: black;
        font-weight: bold;
    }

    /* For delete button */
    .delete-collection-button-in-collection-details-page {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: rgb(0, 0, 0, 0.4);
        margin-top: -2px;
    }

    .delete-collection-button-in-collection-details-page i {
        color: white;
    }

    .delete-collection-button-in-collection-details-page:hover {
        background-color: rgb(0, 0, 0, 0.6);
    }

    /* For load more recipes button */
    #load-more-recipes-button-in-collection-details-page {
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 5px;
        width: 150px;
        height: 45px;
        font-size: 13px;
        border: none;
        background-color: rgb(240, 56, 0);
        color: white;
        font-weight: bold;
    }

    #load-more-recipes-button-in-collection-details-page:hover {
        background-color: rgb(216, 50, 0);
    }
}

@media only screen and (min-width: 601px) {
    /* For the container of collection details page */
    #collection-details-page {
        width: 95%;
        margin: auto;
        margin-top: 10px;
    }

    /* For the collection name */
    #collection-name-in-collection-details-page {
        font-weight: bold;
        font-size: 20px;
    }

    /* For the collection discription */
    #collection-discription-in-collection-details-page {
        font-size: 15px;
        margin-top: -15px;
        color: gray;
    }

    /* For the top section */
    #top-section-of-collection-details-page {
        width: 100%;
        background-color: rgb(240, 240, 240);
        display: flex;
        justify-content: space-between;
    }

    /* For related information of collection */
    #related-information-of-collection-in-collection-details-page {
        display: flex;
        margin-top: 20px;   
        margin-left: 10px;
    }

    #related-information-of-collection-in-collection-details-page a {
        display: block;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgb(185, 185, 185);
        text-decoration: none;
        color: black;
    }

    #related-information-of-collection-in-collection-details-page a + div {
       display: flex;
       flex-direction: column;
       margin-left: 10px;
       margin-top: -6px;

    }

    #related-information-of-collection-in-collection-details-page a + div p {
        color: gray;
    }
    
    #related-information-of-collection-in-collection-details-page a + div p span{
        color: black;
    }

    #related-information-of-collection-in-collection-details-page a + div p + p {
        margin-top: -15px;
    }

    /* For the share button and option button */
    #share-button-and-option-button-in-top-section-of-collection-details-page {
        margin: 20px 0px 0px 0px;
        height: 30px;
        display: flex;
    }

    #share-button-and-option-button-in-top-section-of-collection-details-page i {
        font-size: 25px;
        margin-right: 20px;
        color: rgb(150, 150, 150);
    }

    #share-button-and-option-button-in-top-section-of-collection-details-page p {
        display: none;
    }

    #option-button-in-top-section-of-collection-details-page {
        margin-top: -7px;
        box-shadow: none;
    }

    #option-button-in-top-section-of-collection-details-page:after {
        display: none;
    }

    .drop-down-option-of-option-button-in-collection-details-page:focus {
        background-color: orange;  
        color: #fff;
    }

    /* For the recipes */
    #recipes-in-collection-details-page {
        margin-top: 20px;
    }

    .recipe-in-collection-details-page {
        display: flex;
        justify-content: space-between;
    }

    .related-information-of-recipe-in-collection-details-page {
        display: flex;
    }

    .recipe-in-collection-details-page a {
       text-decoration: none;
       color: black;
    }

    .recipe-photo-in-collection-details-page {
        display: block;
        width: 130px;
        height: 130px;
        background-color: gray;
    }

    .recipe-name-and-recipe-ratings-in-collection-details-page {
        margin: -7px 0px 0px 10px;
    }

    .recipe-name-in-collection-details-page {
        font-size: 17px;
        font-weight: bold;
    }

    .recipe-name-in-collection-details-page:hover {
        color: orange;
    }

    .recipe-ratings-in-collection-details-page {
        display: flex;
        margin: -10px 0px 0px -5px;
    }

    .recipe-ratings-in-collection-details-page i {
        margin-left: 5px;
    }

    .recipe-ratings-in-collection-details-page p {
        margin-left: 5px;
    }

    .recipe-favorites-in-collection-details-page {
        display: flex;
        margin-top: -10px;
    }

    .recipe-favorites-in-collection-details-page i {
        color: orangered;
    }

    .recipe-favorites-in-collection-details-page p {
        margin-left: 5px;
    }

    .recipe-author-in-collection-details-page {
        margin-top: -10px;
    }

    .recipe-author-in-collection-details-page a {
        text-decoration: underline;
        text-decoration-color: orangered;
        color: black;
        font-weight: bold;
    }

    /* For delete button */
    .delete-collection-button-in-collection-details-page {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: rgb(0, 0, 0, 0.4);
        margin-top: -2px;
    }

    .delete-collection-button-in-collection-details-page i {
        color: white;
    }

    .delete-collection-button-in-collection-details-page:hover {
        background-color: rgb(0, 0, 0, 0.6);
    }

    /* For load more recipes button */
    #load-more-recipes-button-in-collection-details-page {
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 5px;
        width: 150px;
        height: 45px;
        font-size: 13px;
        border: none;
        background-color: rgb(240, 56, 0);
        color: white;
        font-weight: bold;
    }

    #load-more-recipes-button-in-collection-details-page:hover {
        background-color: rgb(216, 50, 0);
    }
}

@media only screen and (min-width: 670px) {
    /* For the recipes */
    #recipes-in-collection-details-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin: auto;
        width: fit-content;
        margin-top: 20px;
    }

    .recipe-in-collection-details-page {
        border: 1px solid rgb(216, 216, 216);
        display: flex;
    }

    .recipe-in-collection-details-page + hr {
        display: none;
    }

    .related-information-of-recipe-in-collection-details-page {
        display: flex;
        flex-direction: column;
    }

    .recipe-in-collection-details-page a {
       text-decoration: none;
       color: black;
    }

    .recipe-photo-in-collection-details-page {
        display: block;
        width: 280px;
        height: 280px;
        background-color: rgb(201, 201, 201);
        margin: 10px;
    }

    .recipe-name-in-collection-details-page {
        margin-left: -2px;
        font-size: 20px;
        font-weight: bold;
    }

    .recipe-name-in-collection-details-page:hover {
        color: orange;
    }

    .recipe-ratings-and-favorites-in-collection-details-page {
        display: flex;
        flex-direction: row;
    }

    .recipe-ratings-in-collection-details-page {
        display: flex;
        margin: -10px 0px 0px -6px;
    }

    .recipe-ratings-in-collection-details-page i {
        margin-left: 5px;
    }

    .recipe-ratings-in-collection-details-page p {
        margin-left: 5px;
    }

    .recipe-favorites-in-collection-details-page {
        display: flex;
        margin-left: 30px;
    }

    .recipe-favorites-in-collection-details-page i {
        color: orangered;
    }

    .recipe-favorites-in-collection-details-page p {
        margin-left: 5px;
    }

    .recipe-author-in-collection-details-page {
        margin: -10px 0px 10px -2px;
    }

    .recipe-author-in-collection-details-page a {
        text-decoration: underline;
        text-decoration-color: orangered;
        color: black;
        font-weight: bold;
    }

    /* For delete button */
    .delete-collection-button-in-collection-details-page {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: rgb(0, 0, 0, 0.4);
        position: absolute;
        margin: 10px 0px 0px 250px;
    }

    .delete-collection-button-in-collection-details-page i {
        color: white;
    }

    .delete-collection-button-in-collection-details-page:hover {
        background-color: rgb(0, 0, 0, 0.6);
    }
}

@media only screen and (min-width: 956px) {
    /* For the container of collection details page */
    #collection-details-page {
        width: 81.5%;
        margin: auto;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    /* For the container of collection details page */
    #collection-details-page {
        width: 72%;
        margin: auto;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1400px) {
    /* For the container of collection details page */
    #collection-details-page {
        width: 67.7%;
        margin: auto;
        margin-top: 10px;
    }

    /* For the recipes */
    #recipes-in-collection-details-page {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        margin: auto;
        width: fit-content;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1600px) {
    /* For the container of collection details page */
    #collection-details-page {
        width: 63%;
        margin: auto;
        margin-top: 10px;
    }
} 
