@media only screen and (max-width: 600px) {
    /* For the container */
    #create-recipe-container {
        width: 100%;
    }

    /* For the create-recipe form */
    #create-recipe {
        margin-top: 20px;
        height: fit-content;
        width: 95%;
        margin: auto;
    }

    /* For all left-side-features */
    #create-recipe-left-side-features {
        border: none;
    }

    /* For the button of left-side-features */
    #image-upload-button {
        margin: auto;
        width: fit-content;
        margin-top: 5px;
    }

    #custom-file-upload {
        cursor: pointer;
        border: 2px dotted rgb(221, 221, 221);
        width: 170px;
        height: 140px;
    }

    #custom-file-upload i {
        font-size: 45px;
        color: rgb(170, 170, 170);
        display: block;
        margin: auto;
        width: fit-content;
    }

    #add-photo {
        font-size: 20px;
        text-align: center;
    }

    #add-photo + p {
        margin-top: -15px;
        font-size: 12px;
        text-align: center;
    }

    input[type="file"] {
        display: none;
    }

    #selected-image {
        width: 170px;
        height: 140px;
    }

    /* For all label of create-recipe form */
    #create-recipe label {
        font-size: 17px;
        margin: 15px 0px 5px 0px;
        font-weight: bolder;
    }

    /* For all input of left-side-features */
    .create-recipe-left-side-features-flex input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    .create-recipe-left-side-features-flex input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For the world cuisine select */
    #world-cuisine {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 6px;
    }

    #world-cuisine:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all input of right-side-features */
    #create-recipe-right-side-features input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all ingredients */
    .ingredients {
        margin-top: -5px;
    }

    .all-ingredients {
        margin-top: -10px;
    }

    /* For all ingredient fields */
    .add-ingredient {
        display: flex;
        margin-top: 10px;
    }   

    /* For all remove buttons of all ingredient fields */
    #remove-button-of-ingredient-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 10px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add ingredient button */
    #add-ingredient-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-ingredient-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }
    
    #add-ingredient-button i {
        margin-top: -14px;
        font-size: 25px;
    }

    /* For all directions */
    .directions {
        margin-top: -22px;
    }

    .all-directions {
        margin-top: -20px;
    }

    /* For all labels of directions */
    .add-direction p {
        margin-top: 20px;
    }

    /* For all direction fields */
    .add-direction div {
        display: flex;
        margin-top: -10px;
    }

    /* For all textarea of right-side-features */
    #create-recipe-right-side-features textarea {
        outline: none;
        width: 100%;
        border: 1px solid rgb(235, 235, 235);
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features textarea:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all remove buttons of all direction fields */
    #remove-button-of-direction-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 28px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add direction button */
    #add-direction-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-direction-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }

    #add-direction-button i {
        margin-top: -14px;
        font-size: 25px;
    }
    
    /* For all radio tag*/
    .public-and-private-recipe {
        margin-top: -15px;
    }

    #private-recipe, #public-recipe {
        cursor: pointer;        
        opacity: 0;
        position: absolute;
    }
    
    #private-recipe-label, #public-recipe-label {
        cursor: pointer;
        display: flex;
    }
    
    #private-recipe-label::before, #public-recipe-label::before {
        content: "";
        width: 1.5em; 
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 0.5em;
    }
    
    #private-recipe:checked + #private-recipe-label::before, #public-recipe:checked + #public-recipe-label::before {
        content: "\002714";
        background-color: orange;
    }

    #private-recipe-label + p, #public-recipe-label + p {
        font-style: italic;
        font-size: 14px;
    }

    /* For all bottom buttons */
    #create-recipe-bottom-buttons {
        display: flex;
        width: 95%;
        margin: auto;
        margin-top: -25px;
        margin-bottom: 10px;
    }

    #create-recipe-save-button {
        height: 45px;
        width: 50%;
        margin: 25px 5px 0px 0px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button + a {
        width: 50%;
        margin: 25px 0px 0px 5px;
    }

    #create-recipe-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #create-recipe-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 601px) {
    /* For the container */
    #create-recipe-container {
        width: 100%;
    }

    /* For the create-recipe form */
    #create-recipe {
        margin-top: 20px;
        height: fit-content;
        width: 95%;
        margin: auto;
    }

    /* For all left-side-features */
    #create-recipe-left-side-features {
        border: none;
    }

    /* For the button of left-side-features */
    #image-upload-button {
        margin: auto;
        width: fit-content;
        margin-top: 5px;
    }

    #custom-file-upload {
        cursor: pointer;
        border: 2px dotted rgb(221, 221, 221);
        width: 170px;
        height: 140px;
    }

    #custom-file-upload i {
        font-size: 45px;
        color: rgb(170, 170, 170);
        display: block;
        margin: auto;
        width: fit-content;
    }

    #add-photo {
        font-size: 20px;
        text-align: center;
    }

    #add-photo + p {
        margin-top: -15px;
        font-size: 12px;
        text-align: center;
    }

    input[type="file"] {
        display: none;
    }

    #selected-image {
        width: 170px;
        height: 140px;
    }

    /* For all label of create-recipe form */
    #create-recipe label {
        font-size: 17px;
        margin: 15px 0px 5px 0px;
        font-weight: bolder;
    }

    /* For all input of left-side-features */
    .create-recipe-left-side-features-flex input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    .create-recipe-left-side-features-flex input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For the world cuisine select */
    #world-cuisine {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 6px;
    }

    #world-cuisine:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
    
    /* For all input of right-side-features */
    #create-recipe-right-side-features input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all ingredients */
    .ingredients {
        margin-top: -5px;
    }

    .all-ingredients {
        margin-top: -10px;
    }

    /* For all ingredient fields */
    .add-ingredient {
        display: flex;
        margin-top: 10px;
    }   

    /* For all remove buttons of all ingredient fields */
    #remove-button-of-ingredient-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 10px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add ingredient button */
    #add-ingredient-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-ingredient-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }
    
    #add-ingredient-button i {
        margin-top: -14px;
        font-size: 25px;
    }

    /* For all directions */
    .directions {
        margin-top: -22px;
    }

    .all-directions {
        margin-top: -20px;
    }

    /* For all labels of directions */
    .add-direction p {
        margin-top: 20px;
    }

    /* For all direction fields */
    .add-direction div {
        display: flex;
        margin-top: -10px;
    }

    /* For all textarea of right-side-features */
    #create-recipe-right-side-features textarea {
        outline: none;
        width: 100%;
        border: 1px solid rgb(235, 235, 235);
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features textarea:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all remove buttons of all direction fields */
    #remove-button-of-direction-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 28px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add direction button */
    #add-direction-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-direction-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }

    #add-direction-button i {
        margin-top: -14px;
        font-size: 25px;
    }
    
    /* For all radio tag*/
    .public-and-private-recipe {
        margin-top: -15px;
    }
    
    #private-recipe, #public-recipe {
        cursor: pointer;        
        opacity: 0;
        position: absolute;
    }
    
    #private-recipe-label, #public-recipe-label {
        cursor: pointer;
        display: flex;
    }
    
    #private-recipe-label::before, #public-recipe-label::before {
        content: "";
        width: 1.5em; 
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 0.5em;
    }
    
    #private-recipe:checked + #private-recipe-label::before, #public-recipe:checked + #public-recipe-label::before {
        content: "\002714";
        background-color: orange;
    }

    #private-recipe-label + p, #public-recipe-label + p {
        font-style: italic;
        font-size: 14px;
    }

    /* For all bottom buttons */
    #create-recipe-bottom-buttons {
        display: flex;
        width: 95%;
        margin: auto;
        margin-top: -25px;
        margin-bottom: 10px;
    }

    #create-recipe-save-button {
        height: 45px;
        width: 50%;
        margin: 25px 5px 0px 0px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button + a {
        width: 50%;
        margin: 25px 0px 0px 5px;
    }

    #create-recipe-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #create-recipe-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 956px) {
    /* For the container */
    #create-recipe-container {
        width: 70%;
        margin: auto;
    }

    /* For the create-recipe form */
    #create-recipe {
        margin-top: 20px;
        height: fit-content;
        width: 100%;
        margin: auto;
    }   

    /* For all left-side-features */
    #create-recipe-left-side-features {
        border: none;
    }

    /* For the button of left-side-features */
    #image-upload-button {
        margin: auto;
        width: fit-content;
        margin-top: 5px;
    }

    #custom-file-upload {
        cursor: pointer;
        border: 2px dotted rgb(221, 221, 221);
        width: 170px;
        height: 140px;
    }

    #custom-file-upload i {
        font-size: 45px;
        color: rgb(170, 170, 170);
        display: block;
        margin: auto;
        width: fit-content;
    }

    #add-photo {
        font-size: 20px;
        text-align: center;
    }

    #add-photo + p {
        margin-top: -15px;
        font-size: 12px;
        text-align: center;
    }

    input[type="file"] {
        display: none;
    }

    #selected-image {
        width: 170px;
        height: 140px;
    }

    /* For all label of create-recipe form */
    #create-recipe label {
        font-size: 17px;
        margin: 15px 0px 5px 0px;
        font-weight: bolder;
    }

    /* For all input of left-side-features */
    .create-recipe-left-side-features-flex input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    .create-recipe-left-side-features-flex input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For the world cuisine select */
    #world-cuisine {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 6px;
    }

    #world-cuisine:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
    
    /* For all input of right-side-features */
    #create-recipe-right-side-features input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all ingredients */
    .ingredients {
        margin-top: -5px;
    }

    .all-ingredients {
        margin-top: -10px;
    }

    /* For all ingredient fields */
    .add-ingredient {
        display: flex;
        margin-top: 10px;
    }   

    /* For all remove buttons of all ingredient fields */
    #remove-button-of-ingredient-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 10px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add ingredient button */
    #add-ingredient-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-ingredient-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }
    
    #add-ingredient-button i {
        margin-top: -14px;
        font-size: 25px;
    }

    /* For all directions */
    .directions {
        margin-top: -22px;
    }

    .all-directions {
        margin-top: -20px;
    }

    /* For all labels of directions */
    .add-direction p {
        margin-top: 20px;
    }

    /* For all direction fields */
    .add-direction div {
        display: flex;
        margin-top: -10px;
    }

    /* For all textarea of right-side-features */
    #create-recipe-right-side-features textarea {
        outline: none;
        width: 100%;
        border: 1px solid rgb(235, 235, 235);
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features textarea:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all remove buttons of all direction fields */
    #remove-button-of-direction-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 28px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add direction button */
    #add-direction-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-direction-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }

    #add-direction-button i {
        margin-top: -14px;
        font-size: 25px;
    }
    
    /* For all radio tag*/
    .public-and-private-recipe {
        margin-top: -15px;
    }

    #private-recipe, #public-recipe {
        cursor: pointer;        
        opacity: 0;
        position: absolute;
    }
    
    #private-recipe-label, #public-recipe-label {
        cursor: pointer;
        display: flex;
    }
    
    #private-recipe-label::before, #public-recipe-label::before {
        content: "";
        width: 1.5em; 
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 0.5em;
    }
    
    #private-recipe:checked + #private-recipe-label::before, #public-recipe:checked + #public-recipe-label::before {
        content: "\002714";
        background-color: orange;
    }

    #private-recipe-label + p, #public-recipe-label + p {
        font-style: italic;
        font-size: 14px;
    }

    /* For all bottom buttons */
    #create-recipe-bottom-buttons {
        display: flex;
        width: 100%;
        margin: auto;
        margin-top: -25px;
        margin-bottom: 10px;
    }

    #create-recipe-save-button {
        height: 45px;
        width: 50%;
        margin: 25px 5px 0px 0px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button + a {
        width: 50%;
        margin: 25px 0px 0px 5px;
    }

    #create-recipe-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #create-recipe-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1200px) {
    /* For the container */
    #create-recipe-container {
        width: 60%;
        margin: auto;
    }

    /* For the create-recipe form */
    #create-recipe {
        margin-top: 20px;
        height: fit-content;
        width: 100%;
        margin: auto;
    }

    /* For all left-side-features */
    #create-recipe-left-side-features {
        border: none;
    }

    /* For the button of left-side-features */
    #image-upload-button {
        margin: auto;
        width: fit-content;
        margin-top: 5px;
    }

    #custom-file-upload {
        cursor: pointer;
        border: 2px dotted rgb(221, 221, 221);
        width: 170px;
        height: 140px;
    }

    #custom-file-upload i {
        font-size: 45px;
        color: rgb(170, 170, 170);
        display: block;
        margin: auto;
        width: fit-content;
    }

    #add-photo {
        font-size: 20px;
        text-align: center;
    }

    #add-photo + p {
        margin-top: -15px;
        font-size: 12px;
        text-align: center;
    }

    input[type="file"] {
        display: none;
    }

    #selected-image {
        width: 170px;
        height: 140px;
    }

    /* For all label of create-recipe form */
    #create-recipe label {
        font-size: 17px;
        margin: 15px 0px 5px 0px;
        font-weight: bolder;
    }

    /* For all input of left-side-features */
    .create-recipe-left-side-features-flex input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    .create-recipe-left-side-features-flex input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For the world cuisine select */
    #world-cuisine {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 6px;
    }

    #world-cuisine:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
    
    /* For all input of right-side-features */
    #create-recipe-right-side-features input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all ingredients */
    .ingredients {
        margin-top: -5px;
    }

    .all-ingredients {
        margin-top: -10px;
    }

    /* For all ingredient fields */
    .add-ingredient {
        display: flex;
        margin-top: 10px;
    }   

    /* For all remove buttons of all ingredient fields */
    #remove-button-of-ingredient-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 10px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add ingredient button */
    #add-ingredient-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-ingredient-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }
    
    #add-ingredient-button i {
        margin-top: -14px;
        font-size: 25px;
    }

    /* For all directions */
    .directions {
        margin-top: -22px;
    }

    .all-directions {
        margin-top: -20px;
    }

    /* For all labels of directions */
    .add-direction p {
        margin-top: 20px;
    }

    /* For all direction fields */
    .add-direction div {
        display: flex;
        margin-top: -10px;
    }

    /* For all textarea of right-side-features */
    #create-recipe-right-side-features textarea {
        outline: none;
        width: 100%;
        border: 1px solid rgb(235, 235, 235);
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features textarea:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all remove buttons of all direction fields */
    #remove-button-of-direction-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 28px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add direction button */
    #add-direction-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-direction-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }

    #add-direction-button i {
        margin-top: -14px;
        font-size: 25px;
    }
    
    /* For all radio tag*/
    .public-and-private-recipe {
        margin-top: -15px;
    }
    
    #private-recipe, #public-recipe {
        cursor: pointer;        
        opacity: 0;
        position: absolute;
    }
    
    #private-recipe-label, #public-recipe-label {
        cursor: pointer;
        display: flex;
    }
    
    #private-recipe-label::before, #public-recipe-label::before {
        content: "";
        width: 1.5em; 
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 0.5em;
    }
    
    #private-recipe:checked + #private-recipe-label::before, #public-recipe:checked + #public-recipe-label::before {
        content: "\002714";
        background-color: orange;
    }

    #private-recipe-label + p, #public-recipe-label + p {
        font-style: italic;
        font-size: 14px;
    }

    /* For all bottom buttons */
    #create-recipe-bottom-buttons {
        display: flex;
        width: 100%;
        margin: auto;
        margin-top: -25px;
        margin-bottom: 10px;
    }

    #create-recipe-save-button {
        height: 45px;
        width: 50%;
        margin: 25px 5px 0px 0px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button + a {
        width: 50%;
        margin: 25px 0px 0px 5px;
    }

    #create-recipe-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #create-recipe-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1600px) {
    /* For the container */
    #create-recipe-container {
        width: 62.5%;
        margin: auto;
    }

    /* For the create-recipe form */
    #create-recipe {
        margin-top: 20px;
        height: fit-content;
        width: 100%;
        margin: auto;
    }

    /* For all left-side-features */
    #create-recipe-left-side-features {
        border: none;
    }

    /* For the button of left-side-features */
    #image-upload-button {
        margin: auto;
        width: fit-content;
        margin-top: 5px;
    }

    #custom-file-upload {
        cursor: pointer;
        border: 2px dotted rgb(221, 221, 221);
        width: 170px;
        height: 140px;
    }

    #custom-file-upload i {
        font-size: 45px;
        color: rgb(170, 170, 170);
        display: block;
        margin: auto;
        width: fit-content;
    }

    #add-photo {
        font-size: 20px;
        text-align: center;
    }

    #add-photo + p {
        margin-top: -15px;
        font-size: 12px;
        text-align: center;
    }

    input[type="file"] {
        display: none;
    }

    #selected-image {
        width: 170px;
        height: 140px;
    }

    /* For all label of create-recipe form */
    #create-recipe label {
        font-size: 17px;
        margin: 15px 0px 5px 0px;
        font-weight: bolder;
    }

    /* For all input of left-side-features */
    .create-recipe-left-side-features-flex input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    .create-recipe-left-side-features-flex input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For the world cuisine select */
    #world-cuisine {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 6px;
    }

    #world-cuisine:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
    
    /* For all input of right-side-features */
    #create-recipe-right-side-features input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all ingredients */
    .ingredients {
        margin-top: -5px;
    }

    .all-ingredients {
        margin-top: -10px;
    }

    /* For all ingredient fields */
    .add-ingredient {
        display: flex;
        margin-top: 10px;
    }   

    /* For all remove buttons of all ingredient fields */
    #remove-button-of-ingredient-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 10px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add ingredient button */
    #add-ingredient-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-ingredient-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }
    
    #add-ingredient-button i {
        margin-top: -14px;
        font-size: 25px;
    }

    /* For all directions */
    .directions {
        margin-top: -22px;
    }

    .all-directions {
        margin-top: -20px;
    }

    /* For all labels of directions */
    .add-direction p {
        margin-top: 20px;
    }

    /* For all direction fields */
    .add-direction div {
        display: flex;
        margin-top: -10px;
    }

    /* For all textarea of right-side-features */
    #create-recipe-right-side-features textarea {
        outline: none;
        width: 100%;
        border: 1px solid rgb(235, 235, 235);
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features textarea:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all remove buttons of all direction fields */
    #remove-button-of-direction-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 28px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add direction button */
    #add-direction-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-direction-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }

    #add-direction-button i {
        margin-top: -14px;
        font-size: 25px;
    }
    
    /* For all radio tag*/
    .public-and-private-recipe {
        margin-top: -15px;
    }

    #private-recipe, #public-recipe {
        cursor: pointer;        
        opacity: 0;
        position: absolute;
    }
    
    #private-recipe-label, #public-recipe-label {
        cursor: pointer;
        display: flex;
    }
    
    #private-recipe-label::before, #public-recipe-label::before {
        content: "";
        width: 1.5em; 
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 0.5em;
    }
    
    #private-recipe:checked + #private-recipe-label::before, #public-recipe:checked + #public-recipe-label::before {
        content: "\002714";
        background-color: orange;
    }

    #private-recipe-label + p, #public-recipe-label + p {
        font-style: italic;
        font-size: 14px;
    }

    /* For all bottom buttons */
    #create-recipe-bottom-buttons {
        display: flex;
        width: 100%;
        margin: auto;
        margin-top: -25px;
        margin-bottom: 10px;
    }

    #create-recipe-save-button {
        height: 45px;
        width: 50%;
        margin: 25px 10px 0px 0px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button + a {
        width: 50%;
        margin: 25px 0px 0px 5px;
    }

    #create-recipe-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #create-recipe-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1712px) {
    /* For the container */
    #create-recipe-container {
        width: 64%;
        margin: auto;
    }

    /* For the create-recipe form */
    #create-recipe {
        margin-top: 20px;
        height: fit-content;
        width: 100%;
        margin: auto;
    }

    /* For all left-side-features */
    #create-recipe-left-side-features {
        border: none;
    }

    /* For the button of left-side-features */
    #image-upload-button {
        margin: auto;
        width: fit-content;
        margin-top: 5px;
    }

    #custom-file-upload {
        cursor: pointer;
        border: 2px dotted rgb(221, 221, 221);
        width: 170px;
        height: 140px;
    }

    #custom-file-upload i {
        font-size: 45px;
        color: rgb(170, 170, 170);
        display: block;
        margin: auto;
        width: fit-content;
    }

    #add-photo {
        font-size: 20px;
        text-align: center;
    }

    #add-photo + p {
        margin-top: -15px;
        font-size: 12px;
        text-align: center;
    }

    input[type="file"] {
        display: none;
    }

    #selected-image {
        width: 170px;
        height: 140px;
    }

    /* For all label of create-recipe form */
    #create-recipe label {
        font-size: 17px;
        margin: 15px 0px 5px 0px;
        font-weight: bolder;
    }

    /* For all input of left-side-features */
    .create-recipe-left-side-features-flex input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    .create-recipe-left-side-features-flex input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For the world cuisine select */
    #world-cuisine {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 6px;
    }

    #world-cuisine:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
    
    /* For all input of right-side-features */
    #create-recipe-right-side-features input {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        width: 100%;
        height: 50px;
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features input:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all ingredients */
    .ingredients {
        margin-top: -5px;
    }

    .all-ingredients {
        margin-top: -10px;
    }

    /* For all ingredient fields */
    .add-ingredient {
        display: flex;
        margin-top: 10px;
    }   

    /* For all remove buttons of all ingredient fields */
    #remove-button-of-ingredient-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 10px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add ingredient button */
    #add-ingredient-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-ingredient-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }
    
    #add-ingredient-button i {
        margin-top: -14px;
        font-size: 25px;
    }

    /* For all directions */
    .directions {
        margin-top: -22px;
    }

    .all-directions {
        margin-top: -20px;
    }

    /* For all labels of directions */
    .add-direction p {
        margin-top: 20px;
    }

    /* For all direction fields */
    .add-direction div {
        display: flex;
        margin-top: -10px;
    }

    /* For all textarea of right-side-features */
    #create-recipe-right-side-features textarea {
        outline: none;
        width: 100%;
        border: 1px solid rgb(235, 235, 235);
        transition: 200ms ease-in-out;
        padding: 6px 10px 6px 10px;
    }

    #create-recipe-right-side-features textarea:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }

    /* For all remove buttons of all direction fields */
    #remove-button-of-direction-field {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        margin-top: 28px;
        border-color: gray;
        background-color: white;
        color: gray;
    }

    /* For add direction button */
    #add-direction-button {
        display: flex;
        font-weight: bolder;
        font-size: 15px;
        background-color: white;
        height: 50px;
        padding: 11px 15px 0px 10px;
        margin-top: 20px;
        border-radius: 5px ;
        border-color: rgb(209, 63, 33);
    } 

    #add-direction-button:hover {
        background-color: rgb(209, 63, 33);
        color: white;
    }

    #add-direction-button i {
        margin-top: -14px;
        font-size: 25px;
    }
    
    /* For all radio tag*/
    .public-and-private-recipe {
        margin-top: -15px;
    }

    #private-recipe, #public-recipe {
        cursor: pointer;        
        opacity: 0;
        position: absolute;
    }
    
    #private-recipe-label, #public-recipe-label {
        cursor: pointer;
        display: flex;
    }
    
    #private-recipe-label::before, #public-recipe-label::before {
        content: "";
        width: 1.5em; 
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 0.5em;
    }
    
    #private-recipe:checked + #private-recipe-label::before, #public-recipe:checked + #public-recipe-label::before {
        content: "\002714";
        background-color: orange;
    }

    #private-recipe-label + p, #public-recipe-label + p {
        font-style: italic;
        font-size: 14px;
    }

    /* For all bottom buttons */
    #create-recipe-bottom-buttons {
        display: flex;
        width: 100%;
        margin: auto;
        margin-top: -25px;
        margin-bottom: 10px;
    }

    #create-recipe-save-button {
        height: 45px;
        width: 50%;
        margin: 25px 10px 0px 0px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #create-recipe-save-button + a {
        width: 50%;
        margin: 25px 0px 0px 5px;
    }

    #create-recipe-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #create-recipe-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}
 