    /* For the add-informations form */
    #add-informations {
        height: 230px;
        margin-top: 20px
    }

    #about-me,
    #my-location,
    #contact-link {
        height: 60px;
        margin-top: 10px;
        margin-left: 10px;
    }

    #about-me a {
        color: rgb(255, 123, 0);
        text-decoration: none;
        display: block;
        margin-top: -15px;
    }

    #my-location a {
        color: rgb(255, 123, 0);
        text-decoration: none;
        display: block;
        margin-top: -15px;
    }

    #contact-link a {
        color: rgb(255, 123, 0);
        text-decoration: none;
        display: block;
        margin-top: -15px;
    }

    /* For the edit profile button */
    #go-to-profile-settings {
        text-decoration: none;
    }

    #edit-profile-button {
        display: block;
        margin: auto;
        margin-top: -20px;
        border: none;
        height: 50px;
        width: 250px;
        color: white;
        background-color: orange;
        transition: 200ms ease-in-out;
    }

    #edit-profile-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
    

@media only screen and (max-width: 600px) {
    /* For the container */
    #private-profile-container {
        width: 100%;
        margin: auto; 
        margin-left: -12px;
    }
}

@media only screen and (min-width: 601px) {
        /* For the container */
    #private-profile-container {
        width: 100%;
        margin: auto; 
        margin-left: -12px;
    }
}

@media only screen and (min-width: 768px) {
    #private-profile-container {
        width: 100%;
        margin: auto; 
        margin-left: -12px;
    }
}

@media only screen and (min-width: 956px) {
    #private-profile-container {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (min-width: 1200px) {
    #private-profile-container {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width: 1400px) {
    #private-profile-container {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width: 1600px) {
    #private-profile-container {
        width: 64%;
        margin: auto;
    }
}

@media only screen and (min-width: 1712px) {
    #private-profile-container {
        width: 65%;
        margin: auto;
    }
}



