/* For the user account */
#user-account {
    display: flex;
}

/* For the avatar-top */
#avatar-top {
    border: solid;
    border-radius: 50%;
    height: 80px;
    width:  80px;
    margin: 30px 0px 0px 10px;
    color: rgb(226, 226, 226);
    text-decoration: none;
}

/* For the account-related part */
#account-related {
    display: flex;
    flex-direction: column;
    margin: 35px 0px 0px 10px;
    height: 60px;
    width: 200px;
    color: rgb(226, 226, 226);
}

#account-name {
    font-size: 25px;
    font-weight: bold;
}

#icons-and-data {
    display: block;
    width: 200px;
    margin-top: -15px;
}

.followers {
    font-size: 20px;
}

.heart {
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
}

.dishes {
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
}

/* For the dropdown settings button */
#dropdown-basic-button-settings {
    font-size: 40px;
    color: rgb(226, 226, 226);
    box-shadow: none;
}

#dropdown-basic-button-settings::after {
    display: none;
}

.selected-button {
    color: white;
    background-color: rgb(255, 123, 0);
}

@media only screen and (max-width: 600px) {
    #top {
        display: flex;
        height: 130px;
        width: 100vw;
        background-image: url("top_background.jpg");
        background-repeat: no-repeat;
        justify-content: space-between;
    }

    /* For the group buttons */
    #group-buttons {
        overflow: auto;
        white-space: nowrap;
        border: none;
        width: 100vw;
    }

    .group-button {
        border: none;
        font-size: 15px;
        height: 50px;
        width: 130px;
    }

    .last-button {
        width: 170px;
    }
}

@media only screen and (min-width: 601px) {
    /* For the top part */
    #top {
        display: flex;
        height: 130px;
        width: 100vw;
        background-image: url("top_background.jpg");
        background-repeat: no-repeat;
        justify-content: space-between;
    }

    /* For the group buttons */
    #group-buttons {
        overflow: auto;
        white-space: nowrap;
        border: none;
        width: 100vw;
    }

    .group-button {
        border: none;
        font-size: 15px;
        height: 50px;
        width: 130px;
    }

    .last-button {
        width: 170px;
    }
}

@media only screen and (min-width: 768px) {
    /* For the top part */
    #top {
        display: flex;
        height: 130px;
        width: 100vw;
        background-image: url("top_background.jpg");
        background-repeat: no-repeat;
        justify-content: space-between;
    }

    /* For the group buttons */
    #group-buttons {
        overflow: auto;
        white-space: nowrap;
        border: none;
        width: 100vw;
    }

    .group-button {
        border: none;
        font-size: 15px;
        height: 50px;
        width: 131px;
    }

    .last-button {
        width: 170px;
    }
}

@media only screen and (min-width: 956px) { 
    /* For the top part */
    #top {
        display: flex;
        flex-direction: row;
        height: 130px;
        width: 100%;
        background-image: url("top_background.jpg");
        background-repeat: no-repeat;
    }

    /* For the group buttons */
    #group-buttons {
        overflow: auto;
        white-space: nowrap;
        border: none;
        width: 100%;
    }

    .group-button {
        border: none;
        font-size: 15px;
        height: 50px;
        width: 131px;
    }

    .last-button {
        width: 170px;
    }
}

@media only screen and (min-width: 1200px) {
    /* For the top part */
    #top {
        display: flex;
        flex-direction: row;
        height: 130px;
        width: 100%;
        background-image: url("top_background.jpg");
        background-repeat: no-repeat;
    }

    /* For the group buttons */
    #group-buttons {
        overflow: auto;
        white-space: nowrap;
        border: none;
        width: 100%;
    }

    .group-button {
        border: none;
        font-size: 15px;
        height: 50px;
        width: 141px;
    }

    .last-button {
        width: 170px;
    }
}

@media only screen and (min-width: 1400px) {
    /* For the top part */
    #top {
        display: flex;
        flex-direction: row;
        height: 130px;
        width: 100%;
        background-image: url("top_background.jpg");
        background-repeat: no-repeat;
    }

    /* For the group buttons */
    #group-buttons {
        overflow: auto;
        white-space: nowrap;
        border: none;
        width: 100%;
    }

    .group-button {
        border: none;
        font-size: 15px;
        height: 50px;
        width: 141px;
    }

    .last-button {
        width: 170px;
    }
}

@media only screen and (min-width: 1600px) {
    /* For the top part */
    #top {
        display: flex;
        flex-direction: row;
        height: 130px;
        width: 100%;
        background-image: url("top_background.jpg");
        background-repeat: no-repeat;
    }

    /* For the group buttons */
    #group-buttons {
        overflow: auto;
        white-space: nowrap;
        border: none;
        width: 100%;
    }

    .group-button {
        border: none;
        font-size: 15px;
        height: 50px;
        width: 151px;
    }

    .last-button {
        width: 170px;
    }
}

@media only screen and (min-width: 1712px) { 
    /* For the top part */
    #top {
        display: flex;
        flex-direction: row;
        height: 130px;
        width: 100%;
        background-image: url("top_background.jpg");
        background-repeat: no-repeat;
    }

    /* For the group buttons */
    #group-buttons {
        overflow: auto;
        white-space: nowrap;
        border: none;
        width: 100%;
    }

    .group-button {
        border: none;
        font-size: 15px;
        height: 50px;
        width: 175.6px;
    }

    .last-button {
        width: 170px;
    }
}